.header {
    text-align: center;
    padding: 10px;
    background: #c19575;
    color: #644B39;
    font-family: Georgia;
    border-bottom: 3px solid #EF8A40;
    font-style: italic;
    text-shadow: 1px 1px 1px;
}
.box-resume {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;

    .sidebar {
        flex: 1;
        background: linear-gradient(#644B39, #32261D);
        text-align: center;
        padding: 10px;
        min-width: 300px;

        .perfil {
            width: 130px;
            height: 130px;
            margin: auto;
            background: url('/assets/foto-perfil.png');
            border-radius: 50%;
            margin-bottom: 20px;
        }

        .box-skills {
            padding: 10px;
            background: #FFFFFF08;
            max-width: 300px;
            margin: auto;

            h3 {
                color: #EF8A40;
                text-decoration: underline;
                font-weight: normal;
                margin-bottom: 10px;
            }
        }
    }
    
    .main-content {
        flex: 2;
        background: #EFE8E4;
        color: #AC8B74;

        .sub-title {
            color: #644B39;
            border-bottom: 1px solid #644B39;
            margin-bottom: 5px;
        }

        .row {
            padding: 10px;
        }
        
        .row-flex {
            display: flex;
            flex-wrap: wrap;

            .col {
                flex: 1;
                padding: 10px;
                min-width: 300px;

                &:first-child {
                    border-right: 3px solid #644B39;
                }
            }
        }
    }
}