<div class="panel">
    <header>
        <div class="content">
            <img src="/assets/images/banner-home-curriculos.png" alt="Meus Currículos">
            <h1 class="title">Meus Currículos</h1>
            <p>Cadastre seu currículo e crie modelos profissionais e criativos. Tenha seu currículo online ou se preferir faça o download para impressão. Aumente suas chances no mercado de trabalho e utilize este site de forma totalmente gratuita.</p>
        </div>
        <button class="bt primary" (click)="login()">Entrar</button>
    </header>
    <section class="content">
        <div class="box">
            <img src="/assets/images/img-home-box-cadastro.png" alt="Cadastre seus currículo">
            <p>Cadastre os dados do seu currículo, informações pessoais, habilidades, treinamentos e experiência professional</p>
        </div>
        <div class="box">
            <img src="/assets/images/img-home-box-modelos.png" alt="Escolha um modelo">
            <p>Escolha um dos modelos de layout e um estilo de cor da sua preferência</p>
        </div>
        <div class="box">
            <img src="/assets/images/img-home-box-versoes.png" alt="Crie versões">
            <p>Tenha mais de uma versão do seu currículo, fazendo alterações do objetivo, destacando cursos e habilidades aumentando suas chances no mercado de trabalho</p>
        </div>
        <div class="box">
            <img src="/assets/images/img-home-box-pdf.png" alt="Baixe em pdf">
            <p>Gere PDF para ter seu currículo impresso ou compartilhe como preferir e tenha também seu currículo online para desktop e celular, sempre atualizado</p>
        </div>
    </section>
    <button class="bt primary" (click)="register()">Cadastre-se</button>
    <app-footer></app-footer>
    <app-login></app-login>
    <app-register></app-register>
</div>