// Cores
$header-bg: #f48fb1;
$header-font: #e91e63;
$header-border: #880e4f;

.style.pink {
    background: #f06292;

    .header {
        background: $header-bg;
        color: $header-font;
        border-bottom: 3px solid $header-border;
    }

    .box-resume {

        .sidebar {
            background: linear-gradient(#ad1457, #880e4f);
        }
    }

    .main-content {
        background: #fce4ec;
    }
}