<div class="buttons">
    <div class="bt-wrapper" routerLink="/panel/profile" routerLinkActive="active">
        <div class="bt-circle profile"></div>
        <span></span>
    </div>
    <div class="bt-wrapper" routerLink="/panel/resumes" routerLinkActive="active">
        <div class="bt-circle resumes"></div>
        <span></span>
    </div>
</div>
<div class="logo"></div>
<div class="buttons right">
    <div class="bt-wrapper">
        <div class="bt-circle logout" (click)="btLogout()"></div>
    </div>
</div>