@import "../../../assets/styles/panel-colors.scss";

:host {
    display: flex;
    justify-content: center;

    .panel-content {
        width: 900px;
        padding: 10px;

        form {
            width: 100%;
            
            .sub-title {
                color: $blue-primary;
                font-size: 28px;
                border-bottom: 2px solid $blue-primary;
                margin-bottom: 10px;
            }

            .sub-title-plus {
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid $blue-primary;
                margin-bottom: 10px;
                position: relative;

                span {
                    color: $blue-primary;
                    font-size: 28px;
                }

                .bt-add-box {
                    width: 40px;
                    height: 40px;
                    background: $blue-primary;
                    border-radius: 50%;
                    position: absolute;
                    right: 0;
                    top: 16px;
                    cursor: pointer;
                }
            }

            textarea {
                height: 100%;
            }

            .form-col.photo {
                width: 300px;
                flex: none;

                .photo {
                    height: 100%;
                    background: url('/assets/images/icon-photo.png') no-repeat center;
                    border: 1px solid $gray-dark;
                    box-shadow: 3px 5px 3px $gray-shadow;
                    border-radius: 8px;
                    margin: 10px 0;
                }
            }

            .bt-square {
                width: 40px;
                height: 40px;
                background: url('/assets/images/icon-add.png') no-repeat center;
                background-size: 24px;
                border: 1px solid $gray-dark;
                box-shadow: 3px 5px 3px $gray-shadow;
                border-radius: 8px;
                margin-bottom: 10px;
                margin-left: -10px;
                align-self: flex-end;
                cursor: pointer;
            }

            .bt-add-item, .bt-remove-box {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid $gray-dark;
                box-shadow: 3px 5px 3px $gray-shadow;
            }
        }

        .buttons {
            display: flex;
            position: absolute;
            bottom: -25px;
            right: 125px;
            z-index: 1;

            .bt {
                margin-left: 10px;
            }
        }
    }
}